/* ///////////////////////////////
LOGO */

.logo {
  height: 3.25rem;
  margin-left: 3rem;
}

/* ///////////////////////////////
SEARCH */
.search {
  background-color: orangered;
  flex: 0 0 40%;
}
.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: var(--color-grey-light-2);
  border: none;
  color: inherit;
  padding: 0.7rem 0.2rem;
  border-radius: 100px;
  width: 90%;
}
.search__button {
}
.search__icon {
  height: 2rem;
  width: 2rem;
}

/* ///////////////////////////////
USER NAVIGATION */
.user-nav__icon-box {
  background-color: greenyellow;
}

.user-nav__icon {
  height: 2.25rem;
  width: 2.25rem;
}
.user-nav__notification {
}

.user-nav__user {
}

.user-nav__user-photo {
  height: 3.75rem;
  border-radius: 50%;
}

.user-nav__name {
}
